<div *ngIf="outlet.isActivated == false">

  <h1>Sacrament Meeting</h1>

  <a routerLink="../new">New Meeting</a>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="meetings">
    <thead>
      <tr>
        <th>Date</th>
        <th>Conducting</th>
        <th>Opening Hymn</th>
        <th>Opening Prayer</th>
        <th>Sacrament Hymn</th>
        <th>Speakers/Theme</th>
        <th>Intermediate Hymn</th>
        <th>Closing Prayer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of meetings">
        <td>{{ meeting.meetingDate | date }}</td>
        <td>{{ meeting.conductor }}</td>
        <td>{{ meeting.openingHymn }}</td>
        <td>{{ meeting.openingPrayer }}</td>
        <td>{{ meeting.sacramentHymn }}</td>
        <!--<span *ngFor="let topic of meeting.topic"> <br /> </span> -->
        <td class="speakTopics"> <span *ngFor="let speaker of meeting.speakers let i = index"> {{"• " + speaker + " — " + meeting.topic[i]  }} <br /> </span> </td>
        <td *ngIf="meeting.intermediateHymn; else elseBlock">{{ meeting.intermediateHymn }}</td>
        <ng-template #elseBlock>None</ng-template>
        <td>{{ meeting.closingPrayer }}</td>
        <td><span> <a [routerLink]="['../', meeting.id, 'edit']">Edit</a> <a (click)="deleteMeeting(meeting.id)" href="javascript:void(0);"> Delete</a></span></td>
      </tr>
    </tbody>
  </table>

</div>

<router-outlet #outlet="outlet"></router-outlet>
